
header{
    background-image: url(../img/pattern.png);
    background-color: #6CB4EE;
}


#logo{
    width: 200px;
    height: 100px;
    margin-top: 50px;
}

#photo-text{
    font-size: 10px;
}

.yellow-highlight{
    background-color: yellow;
}
.azure-text{
    color: #7CB9E8;
}
.grey-text{
    color: rgb(71, 70, 70);
}

ul{
    padding-inline-start: 10px;
}


.table{
    border-spacing: 0px;
    text-align: left;
}

thead{
    background-color: #7CB9E8;
    color: white;
}

.tr-blue{
    background-color: #E0FFFF;
}

.left-row{
    width: 25%;
}
.central-row{
    width: 25%;
}
.right-row{
    width: 50%;
}

.img-footer{
    overflow-clip-margin: content-box;
    overflow: clip;
}